body, div, h1, h2, h3, h4, h5, h6, p, ul, img {
  margin: 0;
  padding: 0;
}

body {
  margin: 0% 1%;
}

#warning {
  display: none;
}

#instructions {
  border: 1px solid black;
  border-bottom-style: none;
  padding: 10px;
}

p, ol {
  font-size: 18px;
}

.important {
  color: Red;
}

ul {
  padding-left: 20px;
  padding-right: 20px; 
  font-size: 16px;
}

ul li {
  padding: 2px;
}

#task {
  border: 1px solid black;
}

#left, #right {
  width: 50%;
}

#left {
  text-align: center;
}

canvas {
  cursor: crosshair;
}

table {
  width: 100%;
}

table, th {
  padding: 5px;
  font-size: 18px;
}

td {
  padding: 10px;
}

img {
  height: auto;
  width: auto;
}

#confidenceLabel {
  text-align: center;
}

#navButtons {
  text-align: center;
}

#issue {
  background-color: red;
  color: white;
}

.nav {
  height: 54px;
  padding: 8px 32px;
  text-align: center;
  font-size: 16px;
}

#modal button {
  float: right;
  margin: 14px;
}

#feedback textarea {
  width: 100%;
  max-width: 100%;
  height: 150px;
}

#submitButton, #submit-cancel {
  float: right;
  font-size: 14px;
  height: 30px;
  min-width: 100px;
  background: Lime;
  margin: 5px;
}

#submit-cancel {
  background-color: Red;
  color: White;
}
