body, div, h1, h2, h3, h4, h5, h6, p, ul, img {
  margin: 0;
  padding: 0;
}

body {
  margin: 0% 1%;
}

#warning {
  display: none;
}

#instructions {
  border: 1px solid black;
  border-bottom-style: none;
  padding: 10px;
}

p, ol {
  font-size: 18px;
}

.important {
  color: Red;
}

#task {
  border: 1px solid black;
}

#left, #right {
  width: 50%;
}

table {
  width: 100%;
}

table, th {
  padding: 5px;
  /*border: 1px solid black;*/
  font-size: 18px;
}

td {
  padding: 10px;
  /*border: 1px solid black;*/
  /*width: 250px;*/
}

img {
  width: 100%;
}

#confidenceLabel {
  text-align: center;
}

#navButtons {
  text-align: center;
}

#issue {
  background-color: red;
  color: white;
}

.nav {
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}

#modal button {
  float: right;
  margin: 14px;
}